<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# ğŸ“ Assignment
---

# Logistic Regression

ì´ë²ˆì—ëŠ” [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) ë°ì´í„°ì…‹ì„ ì‚¬ìš©í•´ ë´…ì‹œë‹¤. ë°ì´í„°ì— ëŒ€í•œ ì„¤ëª…ì„ ìºê¸€ í˜ì´ì§€ì—ì„œ ì˜ ì‚´í´ë³´ì‹œê³  ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš”!

### 1) ë°ì´í„°ë¥¼ ì „ì²˜ë¦¬ í•˜ê² ìŠµë‹ˆë‹¤.
- ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.(read_csv ì‚¬ìš©)
- id ì¹¼ëŸ¼ì€ dropí•˜ì„¸ìš”.
- missing valueë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ì¤‘ë³µëœ ìƒ˜í”Œì´ ìˆëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.
- **ì¤‘ë³µëœ ìƒ˜í”Œì„ ì œê±°í•˜ê³  ë‚¨ì€ ìƒ˜í”Œì˜ ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

df.head()

   id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0   0  18393       2     168    62.0  ...     1      0     0       1       0
1   1  20228       1     156    85.0  ...     1      0     0       1       1
2   2  18857       1     165    64.0  ...     1      0     0       0       1
3   3  17623       2     169    82.0  ...     1      0     0       1       1
4   4  17474       1     156    56.0  ...     1      0     0       0       0

[5 rows x 13 columns]

In [ ]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

df= df.drop(columns= 'id')
df.isnull().sum(axis = 1) #missing value = 0

df.duplicated()
df = df.drop_duplicates()

df.shape  #(69976, 12)

(69976, 12)

### 2) ë‹¤ìš´ë¡œë“œ í•œ í›ˆë ¨ ë°ì´í„°ë¥¼ í›ˆë ¨/ê²€ì¦/í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ë¡œ ë‚˜ëˆ„ì–´ ì£¼ì„¸ìš”.
- íƒ€ê²Ÿ íŠ¹ì„±ì„ í™•ì¸í•˜ê³  íƒ€ê²Ÿ ë³€ìˆ˜ë¥¼ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤.
- í›ˆë ¨ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤(train_test_split ì‚¬ìš©, train/test = 80/20, random_state=2)
- í›ˆë ¨ë°ì´í„°ë¥¼ í›ˆë ¨ê³¼ ê²€ì¦ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤(train_test_split ì‚¬ìš©, train/validation = 80/20, random_state=2)
- **ê²€ì¦ ë°ì´í„°(X_val)ì˜ ê°¯ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
from sklearn.model_selection import train_test_split
#target
target = 'cardio'
features = ['age'	,'gender'	,'height'	,'weight'	,'ap_hi'	,'ap_lo'	,'cholesterol',	'gluc',	'smoke',	'alco',	'active']
X= df[features]
y= df[target]



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, train_size=0.8, random_state=2)
X_val

         age  gender  height  weight  ...  gluc  smoke  alco  active
36174  20787       1     168    67.0  ...     3      0     0       1
4101   20578       2     176    80.0  ...     1      1     1       1
19924  18368       2     174    78.0  ...     1      0     0       1
41995  17415       2     177    62.0  ...     1      1     0       1
39939  23303       2     168    98.0  ...     3      1     0       1
...      ...     ...     ...     ...  ...   ...    ...   ...     ...
67206  16823       1     155    63.0  ...     1      0     0       0
25036  22517       1     141    60.0  ...     3      0     0       0
12153  15245       2     165    64.0  ...     1      0     0       1
25375  18260       2     170    70.0  ...     3      0     0       1
65039  21954       1     159    65.0  ...     1      0     0       0

[11196 rows x 11 columns]

### 3) ì‚¬ì´í‚·ëŸ°ì˜ LogisticRegressionì„ ì‚¬ìš©í•´ ëª¨ë¸ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”.
- ëª¨ë¸ì„ ë§Œë“¤ê¸° ì „ì— ê¸°ì¤€ëª¨ë¸ì„ ì„¤ì •í•©ë‹ˆë‹¤.
- **LogisticRegression ëª¨ë¸ì„ í•™ìŠµí•˜ê³ (max_iter=1000) ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
y_train.value_counts(normalize=True)
# mode(): Return the highest frequency value in a Series.
major = y_train.mode()[0]

# íƒ€ê²Ÿ ìƒ˜í”Œ ìˆ˜ ë§Œí¼ 0ì´ ë‹´ê¸´ ë¦¬ìŠ¤íŠ¸ë¥¼ ë§Œë“­ë‹ˆë‹¤. ê¸°ì¤€ëª¨ë¸ë¡œ ì˜ˆì¸¡
y_pred = [major] * len(y_train)

from sklearn.metrics import accuracy_score
print("training accuracy: ", accuracy_score(y_train, y_pred))

# ê²€ì¦ì„¸íŠ¸ ì—ì„œë„ ì •í™•ë„ë¥¼ í™•ì¸í•´ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
y_pred = [major] * len(y_val)
print("validation accuracy: ", accuracy_score(y_val, y_pred))

training accuracy:  0.501697034655234
validation accuracy:  0.49821364773133264

In [ ]:
from sklearn.linear_model import LogisticRegression

logistic = LogisticRegression(max_iter=1000)
logistic.fit(X_train, y_train)

print('ê²€ì¦ì„¸íŠ¸ ì •í™•ë„', logistic.score(X_val, y_val))

ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ 0.7073061807788495

### 4) ë°ì´í„°ì—ì„œ ë²”ì£¼í˜• ì„±ì§ˆì„ ì§€ë‹Œ íŠ¹ì„±ì„ ì°¾ì•„ ì›í•«ì¸ì½”ë”© í•˜ì„¸ìš”.
- category_encodersë¥¼ ì‚¬ìš©í•´ì„œ 'gender' íŠ¹ì„±ë§Œ ì›í•«ì¸ì½”ë”© í•˜ì„¸ìš”.
- LogisticRegression ëª¨ë¸ì„ ë‹¤ì‹œ í•™ìŠµí•©ë‹ˆë‹¤.
- **ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
!pip install --upgrade category_encoders

Requirement already up-to-date: category_encoders in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied, skipping upgrade: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied, skipping upgrade: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied, skipping upgrade: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied, skipping upgrade: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)

In [ ]:
from category_encoders import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler


#X_train['gender'] = X_train['gender'].replace([1,2],['F','M'])
#X_test['gender'] = X_test['gender'].replace([1,2],['F','M'])
#X_val['gender'] = X_val['gender'].replace([1,2],['F','M'])
def gender_change(num):
  if type(num) != str:
    if num ==1:
      num='women'
    else:
      num='men'
  else:
      return num
  return num


X_train['gender']=X_train['gender'].apply(gender_change)
X_val['gender']=X_val['gender'].apply(gender_change)
X_test['gender']=X_test['gender'].apply(gender_change)




encoder = OneHotEncoder(use_cat_names=True)
X_train= encoder.fit_transform(X_train)
X_val = encoder.transform(X_val)
X_train.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

         age  gender_women  gender_men  height  ...  gluc  smoke  alco  active
221    17591             1           0     157  ...     1      0     0       0
59211  19677             0           1     174  ...     1      0     0       1
26654  23504             1           0     158  ...     3      0     0       1
33421  18036             0           1     173  ...     1      0     1       0
12046  20225             0           1     176  ...     1      1     1       1

[5 rows x 12 columns]

In [ ]:
logistic = LogisticRegression(max_iter=1000)
logistic.fit(X_train, y_train)

print('ê²€ì¦ì„¸íŠ¸ ì •í™•ë„', logistic.score(X_val, y_val))

ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ 0.7093604858878171

###

### 5) í•™ìŠµí•œ ëª¨ë¸ì„ ê²€ì¦ì„¸íŠ¸ì—ì„œ ìµœì í™” ì‹œí‚¨ í›„, í…ŒìŠ¤íŠ¸ì„¸íŠ¸ì—ì„œ ë”± í•œ ë²ˆ ì •í™•ë„ë¥¼ í™•ì¸í•´ ë³´ì„¸ìš”.
- **í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.(0.712 ì´ìƒ)**

In [ ]:
X_test['gender']=X_test['gender'].apply(gender_change)
X_test = encoder.transform(X_test)

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)
logistic_scaled = LogisticRegression(max_iter=1000)
logistic_scaled.fit(X_train_scaled, y_train)

print('ê²€ì¦ì„¸íŠ¸ ì •í™•ë„', logistic_scaled.score(X_val_scaled, y_val))

ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ 0.723383351196856

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
X_test_scaled = scaler.transform(X_test)
print('í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„', logistic_scaled.score(X_test_scaled, y_test))

í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„ 0.7264218348099457

## ğŸ”¥ ë„ì „ê³¼ì œ:

### 6) EDAë¥¼ ì¶”ê°€ì ìœ¼ë¡œ ìˆ˜í–‰í•˜ê³  ê°€ëŠ¥í•œ ë°©ë²•ìœ¼ë¡œ ëª¨ë¸ì„ íŠœë‹í•´ì„œ ê²°ê³¼ë¥¼ ë§Œë“¤ì–´ ë³´ì„¸ìš”. ìµœì†Œí•œ ë‹¤ìŒ ë‚´ìš©ë“¤ì´ í¬í•¨ì´ ë˜ì–´ì•¼ í•©ë‹ˆë‹¤.
- ìƒˆë¡œìš´ íŠ¹ì„±ì„ ìµœì†Œí•œ í•œ ê°œ ì´ìƒ ë§Œë“œì„¸ìš”.
- íŠ¹ì„±ë“¤ì„ í™•ì¸í•´ì„œ ì•„ì›ƒë¼ì´ì–´ë¼ê³  ìƒê°ë˜ëŠ” ë°ì´í„°ë¥¼ ê°€ì§„ ìƒ˜í”Œì„ ì œê±°í•˜ì„¸ìš”.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) ì„ ì‚¬ìš©í•˜ì„¸ìš”. (ì—¬ëŸ¬ê°€ì§€ ì¢…ë¥˜ì˜ Scalarë¥¼ ì–´ë–¤ ìƒí™©ì— ì ìš©í•´ì•¼ í•˜ëŠ”ì§€ ì•Œì•„ë³´ê³  ì‚¬ìš©í•´ ë³´ì„¸ìš”.)
- ë§Œë“¤ì–´ì§„ ëª¨ë¸ ì„±ëŠ¥ì„ ë¦¬í¬íŒ…í•˜ê³  í•´ì„í•©ë‹ˆë‹¤.